### Flipr Hackathon: Population Growth Computation

**Package imports**

In [1]:
import pandas as pd
import numpy as np
import locale
from locale import atof

**Test Dataset**

In [2]:
df = pd.read_csv(r"C:\Users\Aishwarya\PROJECTS\Flipr Hackathon\csv files\Test_dataset.csv",encoding='cp1252')

In [3]:
df.head()

df['Population [2011]'] = df['Population [2011]'].str.replace(',', '').astype(float)
print(f"column type:\n{df.dtypes}")

column type:
City                     object
State                    object
Type                     object
Population [2011]       float64
Popuation [2001]        float64
Sex Ratio               float64
Median Age              float64
Avg Temp                float64
SWM                      object
Toilets Avl             float64
Water Purity            float64
H Index                 float64
Female Population       float64
# of hospitals          float64
Foreign Visitors        float64
Rate For 10 Years(%)    float64
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  501 non-null    object
 1   State                 501 non-null    object
 2   Type                  499 non-null    object
 3   Population [2011]     495 non-null    float64
 4   Popuation [2001]      0 non-null      float64
 5   Sex Ratio             496 non-null    float64
 6   Median Age            488 non-null    float64
 7   Avg Temp              487 non-null    float64
 8   SWM                   492 non-null    object
 9   Toilets Avl           479 non-null    float64
 10  Water Purity          482 non-null    float64
 11  H Index               486 non-null    float64
 12  Female Population     486 non-null    float64
 13  # of hospitals        484 non-null    float64
 14  Foreign Visitors      484 non-null    float64
 15  Rate For 10 Years(%)  498 non-null    float64
dtypes: float64(12), object(4)
memory usage: 62.8+ KB

In [5]:
df['Population [2011]'].fillna(df['Population [2011]'].mean(),inplace=True)

In [6]:
df.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors,Rate For 10 Years(%)
0,Tuensang,Nagaland,T.C,36774.0,NaN,931.0,23.0,10.0,MEDIUM,94.0,114.0,0.253390,34237.0,17.0,2769.0,31.618294
1,Lakshmeshwar,Karnataka,T.M.C,36754.0,NaN,934.0,25.0,38.0,HIGH,62.0,160.0,0.192555,34328.0,13.0,636502.0,31.562500
2,Zira,Punjab,M.Cl.,36732.0,NaN,883.0,29.0,35.0,HIGH,63.0,105.0,0.887882,32434.0,17.0,242367.0,16.883148
3,Yawal,Maharashtra,M.Cl,36706.0,NaN,887.0,26.0,31.0,HIGH,60.0,174.0,0.407838,32558.0,11.0,4408916.0,16.883148
4,Thana Bhawan,Uttar Pradesh,N.P.,36669.0,NaN,877.0,28.0,39.0,LOW,92.0,153.0,0.324456,32159.0,23.0,3104060.0,31.600000

In [7]:
df['Type']=df['Type'].str.replace('.','')

In [8]:
df.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors,Rate For 10 Years(%)
0,Tuensang,Nagaland,TC,36774.0,NaN,931.0,23.0,10.0,MEDIUM,94.0,114.0,0.253390,34237.0,17.0,2769.0,31.618294
1,Lakshmeshwar,Karnataka,TMC,36754.0,NaN,934.0,25.0,38.0,HIGH,62.0,160.0,0.192555,34328.0,13.0,636502.0,31.562500
2,Zira,Punjab,MCl,36732.0,NaN,883.0,29.0,35.0,HIGH,63.0,105.0,0.887882,32434.0,17.0,242367.0,16.883148
3,Yawal,Maharashtra,MCl,36706.0,NaN,887.0,26.0,31.0,HIGH,60.0,174.0,0.407838,32558.0,11.0,4408916.0,16.883148
4,Thana Bhawan,Uttar Pradesh,NP,36669.0,NaN,877.0,28.0,39.0,LOW,92.0,153.0,0.324456,32159.0,23.0,3104060.0,31.600000

**Creating values of Population Growth rate based on the Average growth rate from train dataset for each city type**

In [9]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='TMC'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.5625

df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [10]:
df['Rate For 10 Years(%)'].fillna(31.618294399999982,inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  501 non-null    object
 1   State                 501 non-null    object
 2   Type                  499 non-null    object
 3   Population [2011]     501 non-null    float64
 4   Popuation [2001]      0 non-null      float64
 5   Sex Ratio             496 non-null    float64
 6   Median Age            488 non-null    float64
 7   Avg Temp              487 non-null    float64
 8   SWM                   492 non-null    object
 9   Toilets Avl           479 non-null    float64
 10  Water Purity          482 non-null    float64
 11  H Index               486 non-null    float64
 12  Female Population     486 non-null    float64
 13  # of hospitals        484 non-null    float64
 14  Foreign Visitors      484 non-null    float64
 15  Rate For 10 Years(%)  501 non-null    float64
dtypes: float64(12), object(4)
memory usage: 62.8+ KB

In [12]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='TC'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.618294399999982
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [13]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='MCl'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 16.883147708955224
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [14]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='NP'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.6
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [15]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='UA'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 29.21562
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [16]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='M'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 29.338903961101746
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [17]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='NT'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.6
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [18]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='CT'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.6
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.600000
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [19]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='MB'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 30.16
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.600000
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [20]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='NPP'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.600000
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [21]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='CT'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [22]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='MC'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 10.345858915285714
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [23]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='TP'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [24]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='NA'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 30.15263
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [25]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='MB'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
df['Rate For 10 Years(%)']

0      31.618294
1      31.562500
2      16.883148
3      16.883148
4      31.600000
         ...
496    31.600000
497    31.600000
498    31.600000
499    31.600000
500    31.618294
Name: Rate For 10 Years(%), Length: 501, dtype: float64

In [26]:
c=0
for i in range(len(df)):
    if(df.loc[i,"Type"]=='INA' or df.loc[i,"Type"]=='NAC' or df.loc[i,"Type"]=='GP'):
        c=c+1
        df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
df['Rate For 10 Years(%)'][:100]

0     31.618294
1     31.562500
2     16.883148
3     16.883148
4     31.600000
        ...
95    29.338904
96    29.338904
97    31.618294
98    31.618294
99    31.618294
Name: Rate For 10 Years(%), Length: 100, dtype: float64

In [27]:
df['Rate For 10 Years(%)'].value_counts()

31.618294    146
29.338904    119
31.600000     95
16.883148     67
31.562500     27
30.152630     19
31.618294     10
10.345859     10
29.215620      8
Name: Rate For 10 Years(%), dtype: int64

**Calculating the growth rate for each city**

In [28]:
for i in range(len(df)):
    val = 0
    val1 = 0
    val2 = 0
    pop1 = df['Population [2011]']
    pop2 = df['Popuation [2001]']
    #
    val = df['Rate For 10 Years(%)']
    val1 = val/10
    val2 = val1/12
    npop21=(pop1*val)/100
    popgr21=npop21+pop1
    gror20=val1*9
    newpop20 = (gror20*pop1)/100
    popgr20 = newpop20+pop1
    
    gror19=val1*8
    newpop19 = (gror19*pop1)/100
    popgr19 = newpop19+pop1
    
    jantoaug = val2*8
    poptillaug20 = (popgr20*jantoaug)/100
    popestaug20 = poptillaug20 + popgr20
    
    #
    df['Rate for 1 Year(%)']=val1
    df['Rate for 1 Month(%)']=val2
    
    df['New Population for 2021']=npop21
    df['Population Estimated for 2021']=popgr21
    
    df['Growth Rate till 2020']=gror20
    df['New Population till 2020']=newpop20
    df['Population Estimated for 2020']=popgr20
    
    df['Growth Rate till 2019']=gror19
    df['New Population till 2019']=newpop19
    df['Population Estimated for 2019']=popgr19
    
    df['Rate For Jan to Aug(%)']=jantoaug
    df['New Population for 2020 Aug']=poptillaug20
    df['Population Estimated for 2020 Till Aug']=popestaug20

In [29]:
df.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,...,Population Estimated for 2021,Growth Rate till 2020,New Population till 2020,Population Estimated for 2020,Growth Rate till 2019,New Population till 2019,Population Estimated for 2019,Rate For Jan to Aug(%),New Population for 2020 Aug,Population Estimated for 2020 Till Aug
0,Tuensang,Nagaland,TC,36774.0,NaN,931.0,23.0,10.0,MEDIUM,94.0,...,48401.311583,28.456465,10464.580424,47238.580424,25.294636,9301.849266,46075.849266,2.107886,995.735562,48234.315986
1,Lakshmeshwar,Karnataka,TMC,36754.0,NaN,934.0,25.0,38.0,HIGH,62.0,...,48354.481250,28.406250,10440.433125,47194.433125,25.250000,9280.385000,46034.385000,2.104167,993.049530,48187.482655
2,Zira,Punjab,MCl,36732.0,NaN,883.0,29.0,35.0,HIGH,63.0,...,42933.517816,15.194833,5581.366035,42313.366035,13.506518,4961.214253,41693.214253,1.125543,476.255206,42789.621241
3,Yawal,Maharashtra,MCl,36706.0,NaN,887.0,26.0,31.0,HIGH,60.0,...,42903.128198,15.194833,5577.415378,42283.415378,13.506518,4957.702558,41663.702558,1.125543,475.918098,42759.333477
4,Thana Bhawan,Uttar Pradesh,NP,36669.0,NaN,877.0,28.0,39.0,LOW,92.0,...,48256.404000,28.440000,10428.663600,47097.663600,25.280000,9269.923200,45938.923200,2.106667,992.190780,48089.854380

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City                                    501 non-null    object
 1   State                                   501 non-null    object
 2   Type                                    499 non-null    object
 3   Population [2011]                       501 non-null    float64
 4   Popuation [2001]                        0 non-null      float64
 5   Sex Ratio                               496 non-null    float64
 6   Median Age                              488 non-null    float64
 7   Avg Temp                                487 non-null    float64
 8   SWM                                     492 non-null    object
 9   Toilets Avl                             479 non-null    float64
 10  Water Purity                            482 non-null    float64
 11  H Index                                 486 non-null    float64
 12  Female Population                       486 non-null    float64
 13  # of hospitals                          484 non-null    float64
 14  Foreign Visitors                        484 non-null    float64
 15  Rate For 10 Years(%)                    501 non-null    float64
 16  Rate for 1 Year(%)                      501 non-null    float64
 17  Rate for 1 Month(%)                     501 non-null    float64
 18  New Population for 2021                 501 non-null    float64
 19  Population Estimated for 2021           501 non-null    float64
 20  Growth Rate till 2020                   501 non-null    float64
 21  New Population till 2020                501 non-null    float64
 22  Population Estimated for 2020           501 non-null    float64
 23  Growth Rate till 2019                   501 non-null    float64
 24  New Population till 2019                501 non-null    float64
 25  Population Estimated for 2019           501 non-null    float64
 26  Rate For Jan to Aug(%)                  501 non-null    float64
 27  New Population for 2020 Aug             501 non-null    float64
 28  Population Estimated for 2020 Till Aug  501 non-null    float64
dtypes: float64(25), object(4)
memory usage: 113.6+ KB

In [31]:
for i in range(10):
    print(df.loc[i,"Rate For 10 Years(%)"])

31.618294399999982
31.5625
16.883147708955224
16.883147708955224
31.6
29.21562
16.883147708955224
29.338903961101746
31.5625
29.338903961101746

In [32]:
df.columns

Index(['City', 'State', 'Type', 'Population [2011]', 'Popuation [2001]',
       'Sex Ratio', 'Median Age', 'Avg Temp', 'SWM', 'Toilets Avl',
       'Water Purity', 'H Index', 'Female Population', '# of hospitals',
       'Foreign Visitors', 'Rate For 10 Years(%)', 'Rate for 1 Year(%)',
       'Rate for 1 Month(%)', 'New Population for 2021',
       'Population Estimated for 2021', 'Growth Rate till 2020',
       'New Population till 2020', 'Population Estimated for 2020',
       'Growth Rate till 2019', 'New Population till 2019',
       'Population Estimated for 2019', 'Rate For Jan to Aug(%)',
       'New Population for 2020 Aug',
       'Population Estimated for 2020 Till Aug'],
      dtype='object')

In [33]:
cols = ['City', 'Type', 
        'Median Age', 'Avg Temp', 'SWM', 'Toilets Avl',
       'Water Purity', 'H Index', '# of hospitals',
       'Foreign Visitors', 'Population Estimated for 2020 Till Aug']

df = df[cols]

In [34]:
swm_categories = {"HIGH":0 ,"MEDIUM":1 ,"LOW":2}
df['SWM'] = df['SWM'].map(swm_categories)
df.loc[df['Type'] == "nagarparishad", "Type"] = 'npd'
type_categories = dict(zip(set(df['Type']),list(range(len(set(df['Type']))))))
df['Type'] = df['Type'].map(type_categories)

In [35]:
df.columns = ["city", "city_type", "median_age", "avg_temp", "swm", "toilets_avl", "water_purity", "h_index", "hospitals", "foreign_visitors", "population_till_aug"]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 501 non-null    object
 1   city_type            501 non-null    int64
 2   median_age           488 non-null    float64
 3   avg_temp             487 non-null    float64
 4   swm                  492 non-null    float64
 5   toilets_avl          479 non-null    float64
 6   water_purity         482 non-null    float64
 7   h_index              486 non-null    float64
 8   hospitals            484 non-null    float64
 9   foreign_visitors     484 non-null    float64
 10  population_till_aug  501 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 43.2+ KB

**Saving the final csv file**

In [37]:
df.to_csv('TestDataFinal.csv')