### Flipr Hackathon: Population Growth Computation

**Package imports**

In [1]:
import pandas as pd
import numpy as np
import locale
from locale import atof

**Train Dataset**

In [2]:
df = pd.read_csv(r"C:\Users\Aishwarya\PROJECTS\Flipr Hackathon\csv files\Train_dataset.csv",encoding='cp1252')
df.dropna(axis=0, how='all', inplace=True)

In [3]:
df.head()

df['Population [2011]'] = df['Population [2011]'].str.replace(',', '').astype(float)
print(f"column type:\n{df.dtypes}")

column type:
City                     object
State                    object
Type                     object
Population [2011]       float64
Popuation [2001]         object
Sex Ratio               float64
Median Age              float64
Avg Temp                float64
SWM                      object
Toilets Avl             float64
Water Purity            float64
H Index                 float64
Female Population       float64
# of hospitals          float64
Foreign Visitors        float64
Covid Cases               int64
Rate For 10 Years(%)    float64
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 787 entries, 0 to 786
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  787 non-null    object
 1   State                 787 non-null    object
 2   Type                  787 non-null    object
 3   Population [2011]     787 non-null    float64
 4   Popuation [2001]      323 non-null    object
 5   Sex Ratio             777 non-null    float64
 6   Median Age            769 non-null    float64
 7   Avg Temp              770 non-null    float64
 8   SWM                   783 non-null    object
 9   Toilets Avl           761 non-null    float64
 10  Water Purity          629 non-null    float64
 11  H Index               647 non-null    float64
 12  Female Population     646 non-null    float64
 13  # of hospitals        772 non-null    float64
 14  Foreign Visitors      697 non-null    float64
 15  Covid Cases           787 non-null    int64
 16  Rate For 10 Years(%)  787 non-null    float64
dtypes: float64(11), int64(1), object(5)
memory usage: 110.7+ KB

In [5]:
df['Population [2011]'].fillna(df['Population [2011]'].mean(),inplace=True)

In [6]:
df.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors,Covid Cases,Rate For 10 Years(%)
0,Mumbai,Maharashtra,M.C,12442373.0,"1,19,78,450",878.0,23.0,32.0,MEDIUM,219.0,150.0,0.700440,10924403.0,159.0,4408916.0,163115,3.872980
1,Delhi,Delhi,M.C,11007835.0,"98,79,172",858.0,27.0,30.0,MEDIUM,215.0,196.0,0.920018,9444722.0,148.0,2379169.0,80188,11.424672
2,Bangalore,Karnataka,MPUA,8436675.0,"43,01,326",936.0,28.0,37.0,HIGH,212.0,102.0,0.097085,7896728.0,123.0,636502.0,141000,96.141260
3,Hyderabad,Telangana,MPUA,6809970.0,"36,37,483",930.0,23.0,31.0,MEDIUM,217.0,118.0,0.827744,6333272.0,110.0,126078.0,55123,87.216545
4,Ahmedabad,Gujarat,MPUA,5570585.0,"35,20,085",852.0,29.0,25.0,LOW,227.0,109.0,0.847941,4746138.0,73.0,284973.0,33204,58.251434

In [7]:
df['Type']=df['Type'].str.replace('.','')

In [8]:
df.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors,Covid Cases,Rate For 10 Years(%)
0,Mumbai,Maharashtra,MC,12442373.0,"1,19,78,450",878.0,23.0,32.0,MEDIUM,219.0,150.0,0.700440,10924403.0,159.0,4408916.0,163115,3.872980
1,Delhi,Delhi,MC,11007835.0,"98,79,172",858.0,27.0,30.0,MEDIUM,215.0,196.0,0.920018,9444722.0,148.0,2379169.0,80188,11.424672
2,Bangalore,Karnataka,MPUA,8436675.0,"43,01,326",936.0,28.0,37.0,HIGH,212.0,102.0,0.097085,7896728.0,123.0,636502.0,141000,96.141260
3,Hyderabad,Telangana,MPUA,6809970.0,"36,37,483",930.0,23.0,31.0,MEDIUM,217.0,118.0,0.827744,6333272.0,110.0,126078.0,55123,87.216545
4,Ahmedabad,Gujarat,MPUA,5570585.0,"35,20,085",852.0,29.0,25.0,LOW,227.0,109.0,0.847941,4746138.0,73.0,284973.0,33204,58.251434

**Creating values of Population Growth rate based on the Average growth rate from train dataset for each city type**

In [9]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='TMC'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.5625

# df['Rate For 10 Years(%)']

In [10]:
# df['Rate For 10 Years(%)'].fillna(31.618294399999982,inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 787 entries, 0 to 786
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  787 non-null    object
 1   State                 787 non-null    object
 2   Type                  787 non-null    object
 3   Population [2011]     787 non-null    float64
 4   Popuation [2001]      323 non-null    object
 5   Sex Ratio             777 non-null    float64
 6   Median Age            769 non-null    float64
 7   Avg Temp              770 non-null    float64
 8   SWM                   783 non-null    object
 9   Toilets Avl           761 non-null    float64
 10  Water Purity          629 non-null    float64
 11  H Index               647 non-null    float64
 12  Female Population     646 non-null    float64
 13  # of hospitals        772 non-null    float64
 14  Foreign Visitors      697 non-null    float64
 15  Covid Cases           787 non-null    int64
 16  Rate For 10 Years(%)  787 non-null    float64
dtypes: float64(11), int64(1), object(5)
memory usage: 110.7+ KB

In [12]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='TC'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.618294399999982
        
# df['Rate For 10 Years(%)']

In [13]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='MCl'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 16.883147708955224
        
# df['Rate For 10 Years(%)']

In [14]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='NP'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.6
        
# df['Rate For 10 Years(%)']

In [15]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='UA'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 29.21562
        
# df['Rate For 10 Years(%)']

In [16]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='M'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 29.338903961101746
        
# df['Rate For 10 Years(%)']

In [17]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='NT'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.6
        
# df['Rate For 10 Years(%)']

In [18]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='CT'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.6
        
# df['Rate For 10 Years(%)']

In [19]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='MB'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 30.16
        
# df['Rate For 10 Years(%)']

In [20]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='NPP'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
# df['Rate For 10 Years(%)']

In [21]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='CT'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
# df['Rate For 10 Years(%)']

In [22]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='MC'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 10.345858915285714
        
# df['Rate For 10 Years(%)']

In [23]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='TP'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
# df['Rate For 10 Years(%)']

In [24]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='NA'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 30.15263
        
# df['Rate For 10 Years(%)']

In [25]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='MB'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
# df['Rate For 10 Years(%)']

In [26]:
# c=0
# for i in range(len(df)):
#     if(df.loc[i,"Type"]=='INA' or df.loc[i,"Type"]=='NAC' or df.loc[i,"Type"]=='GP'):
#         c=c+1
#         df.loc[i,'Rate For 10 Years(%)'] = 31.61829439999998
        
# df['Rate For 10 Years(%)'][:100]

In [27]:
# df['Rate For 10 Years(%)'].value_counts()

**Calculating the growth rate for each city**

In [28]:
for i in range(len(df)):
    val = 0
    val1 = 0
    val2 = 0
    pop1 = df['Population [2011]']
    pop2 = df['Popuation [2001]']
    
#     val = ((pop1-pop2)/pop2)*100
    val = df['Rate For 10 Years(%)']
    val1 = val/10
    val2 = val1/12
    npop21=(pop1*val)/100
    popgr21=npop21+pop1
    gror20=val1*9
    newpop20 = (gror20*pop1)/100
    popgr20 = newpop20+pop1
    
    gror19=val1*8
    newpop19 = (gror19*pop1)/100
    popgr19 = newpop19+pop1
    
    jantoaug = val2*8
    poptillaug20 = (popgr20*jantoaug)/100
    popestaug20 = poptillaug20 + popgr20
    
#     df['Rate For 10 Years(%)'] = val
    df['Rate for 1 Year(%)']=val1
    df['Rate for 1 Month(%)']=val2
    
    df['New Population for 2021']=npop21
    df['Population Estimated for 2021']=popgr21
    
    df['Growth Rate till 2020']=gror20
    df['New Population till 2020']=newpop20
    df['Population Estimated for 2020']=popgr20
    
    df['Growth Rate till 2019']=gror19
    df['New Population till 2019']=newpop19
    df['Population Estimated for 2019']=popgr19
    
    df['Rate For Jan to Aug(%)']=jantoaug
    df['New Population for 2020 Aug']=poptillaug20
    df['Population Estimated for 2020 Till Aug']=popestaug20

In [29]:
df.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,...,Population Estimated for 2021,Growth Rate till 2020,New Population till 2020,Population Estimated for 2020,Growth Rate till 2019,New Population till 2019,Population Estimated for 2019,Rate For Jan to Aug(%),New Population for 2020 Aug,Population Estimated for 2020 Till Aug
0,Mumbai,Maharashtra,MC,12442373.0,"1,19,78,450",878.0,23.0,32.0,MEDIUM,219.0,...,1.292426e+07,3.485682,4.337016e+05,1.287607e+07,3.098384,3.855125e+05,1.282789e+07,0.258199,3.324585e+04,1.290932e+07
1,Delhi,Delhi,MC,11007835.0,"98,79,172",858.0,27.0,30.0,MEDIUM,215.0,...,1.226544e+07,10.282205,1.131848e+06,1.213968e+07,9.139738,1.006087e+06,1.201392e+07,0.761645,9.246127e+04,1.223214e+07
2,Bangalore,Karnataka,MPUA,8436675.0,"43,01,326",936.0,28.0,37.0,HIGH,212.0,...,1.654780e+07,86.527134,7.300013e+06,1.573669e+07,76.913008,6.488900e+06,1.492558e+07,6.409417,1.008630e+06,1.674532e+07
3,Hyderabad,Telangana,MPUA,6809970.0,"36,37,483",930.0,23.0,31.0,MEDIUM,217.0,...,1.274939e+07,78.494891,5.345478e+06,1.215545e+07,69.773236,4.751536e+06,1.156151e+07,5.814436,7.067708e+05,1.286222e+07
4,Ahmedabad,Gujarat,MPUA,5570585.0,"35,20,085",852.0,29.0,25.0,LOW,227.0,...,8.815531e+06,52.426291,2.920451e+06,8.491036e+06,46.601147,2.595957e+06,8.166542e+06,3.883429,3.297434e+05,8.820779e+06

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 787 entries, 0 to 786
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City                                    787 non-null    object
 1   State                                   787 non-null    object
 2   Type                                    787 non-null    object
 3   Population [2011]                       787 non-null    float64
 4   Popuation [2001]                        323 non-null    object
 5   Sex Ratio                               777 non-null    float64
 6   Median Age                              769 non-null    float64
 7   Avg Temp                                770 non-null    float64
 8   SWM                                     783 non-null    object
 9   Toilets Avl                             761 non-null    float64
 10  Water Purity                            629 non-null    float64
 11  H Index                                 647 non-null    float64
 12  Female Population                       646 non-null    float64
 13  # of hospitals                          772 non-null    float64
 14  Foreign Visitors                        697 non-null    float64
 15  Covid Cases                             787 non-null    int64
 16  Rate For 10 Years(%)                    787 non-null    float64
 17  Rate for 1 Year(%)                      787 non-null    float64
 18  Rate for 1 Month(%)                     787 non-null    float64
 19  New Population for 2021                 787 non-null    float64
 20  Population Estimated for 2021           787 non-null    float64
 21  Growth Rate till 2020                   787 non-null    float64
 22  New Population till 2020                787 non-null    float64
 23  Population Estimated for 2020           787 non-null    float64
 24  Growth Rate till 2019                   787 non-null    float64
 25  New Population till 2019                787 non-null    float64
 26  Population Estimated for 2019           787 non-null    float64
 27  Rate For Jan to Aug(%)                  787 non-null    float64
 28  New Population for 2020 Aug             787 non-null    float64
 29  Population Estimated for 2020 Till Aug  787 non-null    float64
dtypes: float64(24), int64(1), object(5)
memory usage: 190.6+ KB

In [31]:
for i in range(10):
    print(df.loc[i,"Rate For 10 Years(%)"])

3.8729802269999998
11.42467203
96.1412597
87.21654507
58.25143427
7.768636709
26.79166658
-1.8849625490000002
83.57025024
23.08415335

In [32]:
df.columns

Index(['City', 'State', 'Type', 'Population [2011]', 'Popuation [2001]',
       'Sex Ratio', 'Median Age', 'Avg Temp', 'SWM', 'Toilets Avl',
       'Water Purity', 'H Index', 'Female Population', '# of hospitals',
       'Foreign Visitors', 'Covid Cases', 'Rate For 10 Years(%)',
       'Rate for 1 Year(%)', 'Rate for 1 Month(%)', 'New Population for 2021',
       'Population Estimated for 2021', 'Growth Rate till 2020',
       'New Population till 2020', 'Population Estimated for 2020',
       'Growth Rate till 2019', 'New Population till 2019',
       'Population Estimated for 2019', 'Rate For Jan to Aug(%)',
       'New Population for 2020 Aug',
       'Population Estimated for 2020 Till Aug'],
      dtype='object')

In [33]:
cols = ['City', 'Type', 
        'Median Age', 'Avg Temp', 'SWM', 'Toilets Avl',
       'Water Purity', 'H Index', '# of hospitals',
       'Foreign Visitors', 'Population Estimated for 2020 Till Aug']

df = df[cols]

In [34]:
swm_categories = {"HIGH":0 ,"MEDIUM":1 ,"LOW":2}
df['SWM'] = df['SWM'].map(swm_categories)
df.loc[df['Type'] == "nagarparishad", "Type"] = 'npd'
type_categories = dict(zip(set(df['Type']),list(range(len(set(df['Type']))))))
df['Type'] = df['Type'].map(type_categories)

In [35]:
df.columns = ["city", "city_type", "median_age", "avg_temp", "swm", "toilets_avl", "water_purity", "h_index", "hospitals", "foreign_visitors", "population_till_aug"]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 787 entries, 0 to 786
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 787 non-null    object
 1   city_type            787 non-null    int64
 2   median_age           769 non-null    float64
 3   avg_temp             770 non-null    float64
 4   swm                  783 non-null    float64
 5   toilets_avl          761 non-null    float64
 6   water_purity         629 non-null    float64
 7   h_index              647 non-null    float64
 8   hospitals            772 non-null    float64
 9   foreign_visitors     697 non-null    float64
 10  population_till_aug  787 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 93.8+ KB

**Saving the final csv file**

In [ ]:
df.to_csv('TrainDataFinal.csv')